table.table.table-striped
  thead
    tr
      th Customer A/C defaults
      th Default Value
  tbody
    tr
      td Name
      td {{customerDefaults.Name}}
    tr
      td Bank Account Code
      td {{customerDefaults.BankAccountCode}}
    tr
      td Control (GL) Account Code
      td {{customerDefaults.ControlGLAccountCode}}
    tr
      td Credit Terms (ID)
      td {{customerDefaults.CreditTermID}}
    tr
      td Currency Code
      td {{customerDefaults.CurrencyCode}}
    tr
      td GL Account Code
      td {{customerDefaults.DefaultGLAccountCode}}
    tr
      td Tax Code
      td {{customerDefaults.DefaultTaxCode}}
