|<script type="text/ng-template" id="processDataWaitPopUp.html">
|    <div class="modal-header">
|      <h1 ng-show="(createdTransactionCount + controlTotals.feedErrorsCount) != controlTotals.transactionCount" >Processing ... </h1>
|      <h3 ng-hide="(createdTransactionCount + controlTotals.feedErrorsCount) != controlTotals.transactionCount">Completed update to accountsIQ ...</h3>
|    </div>
|    <div class="modal-body">
|      <div class="progress progress-striped active">
|        <uib-progressbar ng-show="createdTransactionCount > 0" max="max" value="( ( (createdTransactionCount + controlTotals.feedErrorsCount) / controlTotals.transactionCount) * 100 )"><span style="color:white; white-space:nowrap;">{{ createdTransactionCount }} + {{ controlTotals.feedErrorsCount }} / {{ controlTotals.transactionCount }}</span></uib-progressbar>
|      </div>
|      <div ng-if="!writeBackRules.allowed">
|        <button class="btn btn-primary" type="button" ng-hide="(createdTransactionCount + controlTotals.feedErrorsCount) != controlTotals.transactionCount" ng-click="ok()">OK</button>
|      </div>
|      <div ng-if="writeBackRules.allowed">
|        <h3 ng-show="(wroteBackTransactionCount + controlTotals.feedErrorsLinesCount) != controlTotals.transactionLinesCount" >Writing back results to source system ... </h1>
|        <h3 ng-hide="(wroteBackTransactionCount + controlTotals.feedErrorsLinesCount) != controlTotals.transactionLinesCount">Completed writing back results ...</h3>
|        {{ wroteBackTransactionCount }} + {{ controlTotals.feedErrorsLinesCount }}
|        {{ controlTotals.transactionLinesCount }}
|      </div>
|      <div class="progress progress-striped active" ng-if="writeBackRules.allowed">
|        <uib-progressbar ng-show="wroteBackTransactionCount > 0" max="max" value="( ( (wroteBackTransactionCount + feedErrorsLinesCount ) / controlTotals.transactionLinesCount) * 100 )"><span style="color:white; white-space:nowrap;">{{ wroteBackTransactionCount }} + {{ feedErrorsLinesCount }} / {{ controlTotals.transactionLinesCount }}</span></uib-progressbar>
|      </div>
|      <div ng-if="writeBackRules.allowed">
|        <button class="btn btn-primary" type="button" ng-hide="(createdTransactionCount + controlTotals.feedErrorsCount) != controlTotals.transactionCount" ng-click="ok()">OK</button>
|      </div>
|    </div>
|</script>
