|<table class="table table-striped" export-csv="csv" ng-show="dataUpdateRunning">
| <tbody>
|  <tr ng-repeat="transaction in createdTransactions" ng-class="{danger:!transaction.updateStatus.status}" class="success"> 
|   <td>{{transaction.transactionRef}}</td>
|   <td>{{transaction.EnvironmentIdentifier}}</td>
|   <td>{{ transaction.invoiceID }} {{ transaction.transactionRef }}</td>
|   <td>{{transaction.updateStatus.status}}</td>
|   <td>{{transaction.updateStatus.message}}</td>
|   <td>{{transaction}}</td>
|   <td ng-if="transaction.updateStageStatus"><button type="button" ng-click="openUpdateStagesStatusPopUp(transaction)" class="btn btn-xs indent">View Detail</button></td>
|  </tr>
|  <tr ng-repeat="x in wroteBackTransactions" ng-class="{danger:!x.status}" class="success">
|   <td>{{ x.transactionRef }} : {{ x.xTransactionRef }}</td>
|   <td>{{ x.status }}</td>
|   <td>{{ x.errorCode }}</td>
|   <td>{{ x.message }}</td>
|   <td>{{ x.transactionID }}</td>
|  </tr>
|  <tr>
|   <td><a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}" download="integrationLog.csv"  ng-show="dataUpdateRunning"><span class="glyphicon glyphicon-download" ng-show="dataUpdateRunning" style="font-size: 20px;"></span></a></td>
|  </tr>
| </tbody>
|</table>
