|<script type="text/ng-template" id="TransactionLinesPopUp.html">
|  <div class="modal-body">
|      <table class="a table table-striped borderless">
|        <thead><tr><td ng-repeat="col in displayLineValues">{{col.displayName}}</td></tr></thead>
|        <tbody>
|          <tr ng-repeat-start='line in transaction.lines' ng-class="transaction.updateStatus.status" ng-if="hasLines">
|          <td class="small" ng-repeat="col in displayLineValues">{{line[col.name]}} </td>
|          </tr>
|          <tr ng-repeat-end><tr ng-repeat-end >
|      </tbody></table>
|  </div>
|  <div class="modal-footer">
|      <button class="btn btn-primary" ng-click="ok()">OK</button>
|      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
|  </div>
|</script>
